@model ObjectManagementSystem.Models.Entity.ADMIN_TABLE
@{
    ViewBag.Title = "GetAdmin";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title>Update Admin</title>
</head>

@using (Html.BeginForm("UpdateAdmin", "Settings", FormMethod.Post))
{
    <div class="form-group">

        <label>ID</label>
        @Html.TextBoxFor(person => person.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Name</label>
        @if (Html.DisplayFor(person => person.NAME).ToString() == "default")
        {
            @Html.TextBoxFor(person => person.NAME, new { @class = "form-control", @required = "required", @maxlength = "50", @placeholder = "Name", @onkeypress = "return isNumericKey(event)", @readonly = "readonly" })
        }
        else
        {
            @Html.TextBoxFor(person => person.NAME, new { @class = "form-control", @required = "required", @maxlength = "50", @placeholder = "Name", @onkeypress = "return isNumericKey(event)", @readonly = "readonly" })
        }
        <br />
        <label>Admin Username</label>
        @Html.TextBoxFor(person => person.USERNAME, new { @class = "form-control", @required = "required", @maxlength = "20", @placeholder = "Username" })
        <br />
        <label>Admin Password</label>
        @Html.TextBoxFor(person => person.PASSWORD, new { @class = "form-control", @required = "required", @maxlength = "20", @placeholder = "Password" })
        <br />
        <label>Admin Authority</label>
        @if (Html.DisplayFor(person => person.NAME).ToString() == "default")
        {
            <select class="form-control" name="AUTHORITY" disabled>
                <option selected>@Html.DisplayFor(person => person.AUTHORITY) </option>
                @if (Html.DisplayFor(x => x.AUTHORITY).ToString() == "Employee")
                {
                    <option>Admin</option>
                }
                else
                {
                    <option>Employee</option>
                }




            </select>
        }
        else
        {
            <select class="form-control" name="AUTHORITY">
                <option selected>@Html.DisplayFor(person => person.AUTHORITY) </option>
                @if (Html.DisplayFor(x => x.AUTHORITY).ToString() == "Employee")
                {
                    <option>Admin</option>
                }
                else
                {
                    <option>Employee</option>
                }




            </select>
        }
    </div>
    <div>
        <button id="defaultBtn" style="background-color:darkseagreen; color:black; margin-top:15px" class="btn btn-info">Update</button>
    </div>
}
